<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Password Encoding</title>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <link href="/static/css/style.css" rel="stylesheet" />
  </head>
  <body class="pt-5">
    <div id="page">
      <div class="row">
        <div class="column">
          <div class="center">
            <h3 style="padding: 0rem 1rem;">Voice Recognition System:</h1>
            <p style="padding: 0.2rem 2rem; font-size:large;">&emsp;&emsp;A web application for team members voice identifcation, using Gaussian mixture models, models depend on mfcc feature extracted from audio and first order delta summation.</p>
          </div>
          <div style="height: 1rem;"></div>
          <div class="center">
            <div class="row">
              <div class="column" id="test">
                <h2 id="text">Start Recording</h2>
                <div class="record-button-container mt-5">
                  <button
                    class="bg-transparent border btn record-button rounded-circle shadow-sm"
                    id="recordButton"
                  >
                    <img
                      src="/static/img/mic.svg"
                      alt="Record"
                      class="img-fluid"
                    />
                  </button>
                </div>
              </div>
              <div class="column" id="test">
                <h2 id="lock-text">Locked</h2>
                <div id="lock-img">
                <img
                  src="/static/img/lock.svg"
                  alt="locked"
                  class="img-fluid"
                  width="150"
                />
              </div>
              </div>
            </div>
          </div>
          <div id="test">
            <p style="font-size: 3.5rem; font-weight: 600; text-align: center;" id="user-name">Sorry, Can't be recognized</p>
              <h1  id="auth">You are not authorized</h1>
          </div>
        </div>
        <div class="column">
          <div class="center">
          <div class="fig">
            <div class="figure-container">
                <div class="figure">
                    <div id="input_plot" class="myPlot spctrogram"></div>
                </div> 
                <div><span style=" font-weight: 700;" >Figure 1:</span> Shows the input spectrogram with local maxminum peaks as a fingerprint of the audio</div>

            </div>
            <div class="fig">
              <div class="figure-container">
                  <div class="figure">
                      <div id="fingerprint" class="myPlot spctrogram"></div>
                  </div> 
                  <div ><span style=" font-weight: 700;" >Figure 2:</span> Shows the input audio mel-frequency cepstral coefficients, which is the main feature for<br> our model</div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/recorder.js"></script>
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://markjivko.com/dist/recorder.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </body>
</html>
